/* GENERAL */

.legend {
  white-space: nowrap;
  padding-left: 0;
  margin: 0;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
}

.legend.scrollable {
  flex-wrap: unset;
}

/* HORIZONTAL */

.legend.horizontal .legend-item {
  margin-left: 10px;
}

.legend.horizontal .legend-item:first-child {
  margin-left: 0px;
}

.legend.horizontal.scrollable {
  overflow-x: scroll;
}

.legend.horizontal {
  flex-direction: row;
}

.legend.horizontal.horizontal-align-start {
  justify-content: flex-start;
}
.legend.horizontal.horizontal-align-end {
  justify-content: flex-end;
}
.legend.horizontal.horizontal-align-center {
  justify-content: center;
}
.legend.horizontal.vertical-align-start {
  align-items: flex-start;
}
.legend.horizontal.vertical-align-end {
  align-items: flex-end;
}
.legend.horizontal.vertical-align-center {
  align-items: center;
}

/* VERTICAL */

.legend.vertical {
  flex-direction: column;
  height: 100%;
}

.legend.vertical.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.legend.vertical .legend-item {
  display: flex;
  margin-top: 5px;
  max-width: 100%;
  text-overflow: ellipsis;
}

.legend.horizontal-align-start {
  align-items: flex-start;
}
.legend.horizontal-align-end {
  align-items: flex-end;
}
.legend.horizontal-align-center {
  align-items: center;
}
.legend.vertical-align-start {
  justify-content: flex-start;
}
.legend.vertical-align-end {
  justify-content: flex-end;
}
.legend.vertical-align-center {
  justify-content: center;
}

.legend.vertical .legend-item:first-child {
  margin-top: 0px;
}
